@charset "UTF-8";

*{
    font-family: 'omyu_pretty';
}
h1{
    text-align:left;
}
#board{
    width:1200px;
    margin: auto;
     padding-left:130px;
}


#searchList{
    text-align: left;
    float: inline;
    position: relative;
}

#searchList input{
    font-size: 17px;
    height: 34px;
    border-radius: 1% 1% 1% 1% / 10% 10% 10% 10% ;
    padding-left: 40px;
    width: 945px;

}
#searchList button{
    font-size: 17px;
    height: 40px;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%  ;
}
#searchList img{
    width:25px;
    height: 30px;
    position: absolute;
    top:5px;
    left: 10px;

}


#searchList button{
 background-color:black;
 color:white;
 cursor:pointer;
 }

.tagList{
    width: 1200px;
    margin-top: 25px;
}
.tag{
 border: none;
 border-radius: 3% 3% 3% 3% / 10% 10% 10% 10% ;
 background-color: #EEEEEE;
 width: 200px;
 height: 50px;
 font-size: 16px;
 margin-right: 5px;
 margin-bottom: 15px;
}


.tag:hover{
    cursor: pointer;
    color: white;
    background-color: #666;
}




@font-face {
font-family: 'KCC-Ganpan';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'omyu_pretty';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
