@charset "UTF-8";

*{
    font-family: 'omyu_pretty';
}
h1{
    text-align:left;
}
#board{
    width:1200px;
    margin: auto;
}
#content{
    line-height: 25px;
    font-size: large;
}

#intake{
    margin-top: 40px;
    margin-bottom: 30px;

}
#intake2 p{
    text-align: end;
}
#intakeData{
    height: 20px;
    border-radius:1% 1% 1% 1% / 50% 50% 50% 50% ;
    background-color: #eeeeee;
}
#data{
    height: 20px;
    border-radius:50px 50px 50px 50px / 50px 50px 50px 50px ;
        /* width=권장섭취량/2 */
    width:250px;
    background-color: RGB(0,176,240);
}
.start{
    float: inline-start;
}
#remind li{
    line-height: 25px;
    font-size: large;
}


@font-face {
font-family: 'KCC-Ganpan';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'omyu_pretty';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}