@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "omyu_pretty";
	text-decoration: none;
}

#logo {
	background-size: 200px 100px;
	text-align: center;
	padding-top: 100px;
	font-size: 28px;
	font-family: "KCC-Ganpan";
	text-shadow: 1px 0 #666;
	cursor: pointer;
	background-color: white;
}

#yy {
	color: RGB(0, 176, 240);
	font-family: "KCC-Ganpan";
}

#jj {
	color: RGB(192, 235, 248);
	font-family: "KCC-Ganpan";
}

#t {
	position: absolute;
	top: 287px;
}

img {
	background-position: center;
	margin-left: 0px;
}

#signup {
	padding: 20px;
	width: 720px;
	margin: 30px auto;
	height: 800px;
	position: relative;
}

.navi a:hover, .navi a:focus { /*특정 요소에 마우스포인터를 올려놓을때, 웹 요소에 초점이 맞춰졌을때*/
	background-color: gray;
	color: white;
}

#signup legend {
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
	padding-bottom: 10px;
}

#signup ul li {
	position: relative;
	display: flex;
	padding: 8px 30px;
	margin-bottom: 2px;
}

#signup label {
	float: left;
	font-size: 13px;
	width: 60px;
	height: 20px;
	margin-bottom: 16px;
	margin-left: 100px;
}

#signup input {
	font-size: 15px;
	padding: 5px;
	width: 350px;
	margin-left: 0px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

button {
	float: right;
	border: none;
	border: 1px solid none;
	background-color: black;
	font-size: 15px;
	padding: 5px;
	color: white;
	margin-top: 80px;
}

button:hover {
	cursor: pointer;
}

#reset {
	margin-right: 10px;
}

#send {
	margin-left: 10px;
	background-color: white;
	color: black;
	border: 1px solid black;
	height: 28px;
	margin-top: 0px;
}

#confirm {
	margin-left: 10px;
	width: 54.98px;
	height: 30px;
	margin-top: 0px;
}

span {
    position: absolute;
    top: 0px;
    left: 355px;
    margin-left: 5px;
    font-size: 12px;
    color: red;
    white-space: nowrap; /* 긴 메시지일 때 줄 바꿈 방지 */
}


@font-face {
	font-family: 'KCC-Ganpan';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

#please {
	margin-top: 10px;
	text-align: center;
}